In [25]:
import psycopg2
import password as pw
try:
    conn = psycopg2.connect(database=pw.DATABASE, user=pw.USER, 
                            password=pw.PASSWORD, host=pw.HOST, 
                            port="5432")
except psycopg2.Error as e:
    print("error")
    print(e)

else:
    print("連線成功")
    print(conn)
    #conn.close()

連線成功
<connection object at 0x000001EEECDE5F10; dsn: 'user=renchen password=xxx dbname=maindb_ozze host=dpg-cl5g4upo91lc7385tj30-a.singapore-postgres.render.com port=5432', closed: 0>

In [26]:
sql = "select * from 台北市youbike"
with conn.cursor() as cursor:
    cursor.execute(sql)
    records = cursor.fetchall()

print(records)

[(1, 'Youbike2.0_一壽橋', '文山區', '2023-11-08 10:43:16', '樟新街64號前方', 100, 100, 15)]

In [27]:
sql = '''
INSERT INTO 台北市youbike(站點名稱,行政區,更新時間,地址,總車輛數,可借,可還)
VALUES('YouBike2.0_一壽橋','文山區','2023-11-08 10:43:18','樟新街64號前方',100,100,15)
'''
with conn.cursor() as cursor:
    cursor.execute(sql)
    conn.commit()

sql1 = '''
select * 
from 台北市youbike
where 站點名稱 = 'YouBike2.0_一壽橋'
'''

with conn.cursor() as cursor:
    cursor.execute(sql1)
    records = cursor.fetchall()

print(records)

[(2, 'YouBike2.0_一壽橋', '文山區', '2023-11-08 10:43:18', '樟新街64號前方', 100, 100, 15)]